@import "fonts";
@import "rouge-github";

body {
  background-color: #F2F0EB;
  padding: 0;
  margin: 0;
  font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #727272;
  font-weight: 400;
  display: flex;
}

.wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.left-side {
  width: 450px; /* Increased width */
  background-color: #595958; /* Changed color */
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header, footer {
  width: 100%;
}

header h1, header p, header a, header ul, footer p {
  color: white;
}

section {
  flex-grow: 1;
  padding: 20px;
}

h1 {
  color: #012E40;
  margin: 0 0 20px;
}

h2, h3, h4, h5, h6 {
  color: #012E40;
  margin: 0 0 20px;
}

p, ul, ol, table, pre, dl {
  margin: 0 0 20px;
}

h1, h2, h3 {
  line-height: 1.1;
}

h1 {
  font-size: 28px;
}

h2 {
  color: #012E40;
}

h3, h4, h5, h6 {
  color: #012E40;
}

a {
  color: #267CB9;
  text-decoration: none;
}

a:hover, a:focus {
  color: #069;
  font-weight: bold;
}

a small {
  font-size: 11px;
  color: #777;
  margin-top: -0.3em;
  display: block;
}

a:hover small {
  color: #777;
}

blockquote {
  border-left: 1px solid #e5e5e5;
  margin: 0;
  padding: 0 0 0 20px;
  font-style: italic;
}

code, pre {
  font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
  color: #333;
}

pre {
  padding: 8px 15px;
  background: #f8f8f8;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid #e5e5e5;
}

dt {
  color: #444;
  font-weight: 700;
}

th {
  color: #444;
}

img {
  max-width: 100%;
}

kbd {
  background-color: #fafbfc;
  border: 1px solid #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #959da5;
  color: #444d56;
  display: inline-block;
  font-size: 11px;
  line-height: 10px;
  padding: 3px 5px;
  vertical-align: middle;
}

ul.downloads {
  list-style: none;
  height: 40px;
  padding: 0;
  background: #f4f4f4;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  width: 100%;
}

.appointment-btn {
    display: block;
    margin: 20px 0;
    padding: 10px 20px;
    background-color: #267CB9;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

.appointment-btn:hover, .appointment-btn:focus {
    background-color: #1a5a8b;
    font-weight: bold;
}

.social-profiles {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.social-profiles a {
    display: block;
    width: 45px;
    height: 45px;
    background-color: #333;
    color: white;
    text-align: center;
    line-height: 45px;
    border-radius: 50%;
    text-decoration: none;
    font-size: 20px;
}

.social-profiles a:hover, .social-profiles a:focus {
    background-color: #555;
}


.downloads li {
  width: calc(100% / 3); /* Adjusted for the increased width */
  float: left;
  border-right: 1px solid #e0e0e0;
  height: 40px;
}

.downloads li:first-child a {
  border-radius: 5px 0 0 5px;
}

.downloads li:last-child a {
  border-radius: 0 5px 5px 0;
}

.downloads a {
  line-height: 1;
  font-size: 11px;
  color: #676767;
  display: block;
  text-align: center;
  padding-top: 6px;
  height: 34px;
}

.downloads a:hover, .downloads a:focus {
  color: #675C5C;
  font-weight: bold;
}

.downloads ul a:active {
  background-color: #f0f0f0;
}

strong {
  color: #222;
  font-weight: 700;
}

.downloads li + li + li {
  border-right: none;
  width: calc(100% / 3); /* Adjusted for the increased width */
}

.downloads a strong {
  font-size: 14px;
  display: block;
  color: #222;
}

small {
  font-size: 11px;
}

hr {
  border: 0;
  background: #e5e5e5;
  height: 1px;
  margin: 0 0 20px;
}

@media print, screen and (max-width: 960px) {
  div.wrapper {
    width: auto;
    margin: 0;
  }

  header, section, footer {
    float: none;
    position: static;
    width: auto;
  }

  header {
    padding-right: 320px;
  }

  section {
    border: 1px solid #e5e5e5;
    border-width: 1px 0;
    padding: 20px 0;
    margin: 0 0 20px;
  }

  header a small {
    display: inline;
  }

  header ul {
    position: absolute;
    right: 50px;
    top: 52px;
  }
}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap: break-word;
  }

  header {
    padding: 0;
  }

  header ul, header p.view {
    position: static;
  }

  pre, code {
    word-wrap: normal;
  }
}

@media print, screen and (max-width: 480px) {
  body {
    padding: 15px;
  }

  .downloads {
    width: 99%;
  }

  .downloads li, .downloads li + li + li {
    width: 33%;
  }
}

@media print {
  body {
    padding: 0.4in;
    font-size: 12pt;
    color: #444;
  }
}
